* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}
.gallery img {
  width: 100%;
}
